:root {
	--border-color: rgba(194, 161, 197, 0.166);
	--background-color: rgb(36, 33, 67);
	--text-color: rgb(225, 224, 233);
	--button-color: rgb(67, 68, 152);
}

* {
	margin: 0;
	padding: 0;
}

body,
aside,
.container,
.row {
	display: flex;
}

body {
	font-family: sans-serif;
	background-color: var(--background-color);
	justify-content: center;
	align-items: center;

	gap: 64px;
	height: 100vh;
}

body,
button,
a {
	color: var(--text-color);
}

aside {
	text-align: center;
	height: 300px;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
}

button {
	padding: 8px;
	border: 2px solid var(--border-color);
    background: none;
	border-radius: 8px;
	font-weight: 600;

	transition: background ease-out 200ms border ease-out 100ms;
}

button:hover {
	background: var(--button-color);
}

button:active{
	border: 2px solid rgb(207, 175, 238);
}

a {
	text-decoration: none;
}

.container {
	width: 600px;
	aspect-ratio: 1/1;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: stretch;
	border: 4px solid var(--border-color);
	border-radius: 4px;
}

.row {
	flex: 1 1 auto;
	width: 100%;
}

.tile {
	flex: 1 1 auto;
	border: 1px solid var(--border-color);
	border-top: none;
	border-left: none;
}

.tile:last-child {
	border-right: none !important;
}

.row:last-child .tile {
	border-bottom: none;
}

/* Footer */
footer {
	align-self: flex-end;
	margin: 16px;
}
